/*
 * Used inbetween .main-header and any articles, sections, posts, pages displayed.
 * Acts as a sub header to page for example 'Viewing Monthly Archives: May'.
 */ 
.content-introduction {

}

.content-introduction__title {
    
}

.content-introduction__description {

}

/*
 * Used to contain the post, page title and meta data, like posted on date.
 */ 
.content-header {

}

.content-header__title {

}

.content-header__meta {
    margin-bottom: 10px;
}

.content-header__meta__date {

}

.content-header__meta__date--published {

}

.content-header__meta__date--updated {

}

/*
 * Used on singles.
 */
.content-main {

}

.content-summary {
	margin-bottom: 20px;
}

.content-summary__more-link {

}

.content-footer {
    margin-bottom: 20px;
}

.content-footer__cat-link {

}

.content-footer__tag-link {

}

.content-footer__edit-link {
    display: block;
}
