$color-background-button: #bf7b67;
$color-background-button-hover: #f69c2e;
$color-text-button: #fff;

$color-border: #e5e5e5;

$color-link: blue;

$color-background-navigation: #ccc;
$color-background-navigation-dropdown: #fff;
$color-background-navigation-mobile-hover: #666;
$color-border-navigation: #ccc;
$color-border-navigation-mobile: #fff;
$color-text-navigation: #666;
$color-text-navigation-mobile: #fff;