$color-background-button: #bf7b67;
$color-background-button-hover: #f69c2e;
$color-text-button: #fff;

$color-border: #e5e5e5;

$color-link: blue;



$navigation-background-color: #ccc;
$navigation-link-color: #666;
$navigation-dropdown-background-color: #fff;
$navigation-dropdown-border: 2px solid #ccc;

$navigation-mobile-background-color-hover: #666;
$navigation-mobile-seperator: 1px solid #fff;
$navigation-mobile-text-color: #fff;