/*
 * Main and fixed navigation.
 * 1. Nudge content below navigation. Also used to nudge mobile navigation in _wrap.scss.
 * 2. Should be more scrollTop in main.js (80px).
 */
$navigation-margin-bottom: 20px; /* 1 */
$navigation-height: 100px; /* 2 */
$navigation-fixed-height: 41px;
$navigation-bar-background-color: #f47b20;
$navigation-bar-border-width: 1px;
$navigation-bar-border-color: #666;
$navigation-link-color: #fff;
$navigation-link-color-hover: #fff;
$navigation-font-family: $font-family;
$navigation-font-size: 1.142857em; /* 16/14 */

/*
 * Dropdown navigation.
 */
$navigation-dropdown-nudge: 7px;
$navigation-dropdown-background-color: #fff;
$navigation-dropdown-border-width: 2px;
$navigation-dropdown-border-color: #f47b20;
$navigation-dropdown-link-color: #f47b20;
$navigation-dropdown-link-color-hover: #f47b20;