a,
a:visited {
    color: $link-color;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: $link-color-hover;
    text-decoration: underline;
}

a.back-top {
    position: fixed;
    right: 30px;
    bottom: 70px;
    font-size: 3em; /* 42/14 */
    text-decoration: none;
    cursor: pointer;
    z-index: 9998;
} 