/*
 * Holder for mobile navigation.
 * The menu bar that is clicked to display the .mobile-navigation.
 * 1. Set to 41px keeps the main section at 40px especially when used with a bottom border.
 */
.mobile-navigation-bar {
    display: none;
    position: fixed;
    top: 0px;
    font-family: $navigation-mobile-font-family;
    font-size: $navigation-mobile-font-size;
    border-bottom: $navigation-mobile-seperator;
    width: 100%; 
    z-index: 998;
    background-color: $navigation-mobile-bar-background-color;
    height: $navigation-mobile-height; /* 1 */
}

.mobile-navigation-toggle {
    display: inline-block;
    padding: 12px 10px 12px 10px;
    cursor: pointer;
}

.mobile-navigation-toggle__bar {
    display: block;
    width: 22px;
    height: 3px;
    transform-origin: 1px;
    transition: transform 0.3s;
    background: #fff;
}

.mobile-navigation-toggle__bar + .mobile-navigation-toggle__bar {
    margin-top: 4px;
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle__bar:nth-child(1) {
    transform: rotate(45deg);
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle__bar:nth-child(2) {
    opacity: 0;
    transition: opacity 0.3s;
}

.mobile-navigation-toggle:not(.collapsed) .mobile-navigation-toggle__bar:nth-child(3) {
    transform: rotate(-45deg);
}

.mobile-navigation-bar__social {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 38px;
}

.mobile-navigation-bar__social a {
    width: 41px;
    text-align: center;
    margin-left: -4px;
    font-size: 1.4em;
    color: #fff;
    border-left: 1px solid $navigation-mobile-link-background-color-hover;
}

.mobile-navigation-bar__social a:hover,
.mobile-navigation-bar__social a:focus,
.mobile-navigation-bar__social a:active {
    text-decoration: none;
}

/*
 * The mobile menu that slides in or down.
 * 1. Set to the same height as .mobile-navigation-bar.
 * 2. This sets a colour on the whole of mobile navigation slide in.
 */
.mobile-navigation {    
    position: fixed;
    bottom: 0;
    left: -100%;
    overflow-y: auto;
    width: 100%;
    top: $navigation-mobile-height; /* 1 */ 
    padding: 0;
    margin: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    background: $navigation-mobile-background-color; /* 2 */
}

.mobile-navigation-show {
    left: 0;
}

/*
 * Add to the html, body in js to ensure scrolling works correctly when the menu is longer than the page.
 * This disables scrolling of the page underneath the mobile-navigation.
 */
.mobile-navigation-show-overflow {
    overflow: hidden;
}

/*
 * Mobile All Levels.
 */
.mobile-navigation ul {
    list-style: none;
    margin: 0;
}

/*
 * Mobile First Level.
 * 1. Remove margin previously set.
 */
.mobile-navigation ul li {
    display: block;
    margin: 0; /* 1 */
    border-top: $navigation-mobile-seperator;
}

/*
 * Remove double top border on first menu item (specific).
 * This works when a menu is set from admin and when no menu is set and Wordpress defaults to one.
 * The second rules accounts for a default wordpress menu which adds .menu wrapper to the ul.
 */
.mobile-navigation > ul > li:first-child,
.mobile-navigation > .menu > ul > li:first-child {
    border-top: none;
}

/*
 * All Levels.
 * Mobile navigation link style.
 */
.mobile-navigation a:link,
.mobile-navigation a:visited {
    display: block;
    padding: 7px 0 7px 7px;
    background: $navigation-mobile-link-background-color;    
    color: $navigation-mobile-link-color;
    text-decoration: none;
}

/*
 * All Levels.
 * Mobile navigation hover style.
 */
.mobile-navigation a:hover {
    background: $navigation-mobile-link-background-color-hover;
    color: $navigation-mobile-link-color-hover;
}

/*
 * Mobile Second Level.
 * Mobile navigation link style.
 */ 
.mobile-navigation ul ul li a:link,
.mobile-navigation ul ul li a:visited {
    padding-left: 21px;
}

/*
 * Mobile Third Level.
 * Mobile navigation link style.
 */
.mobile-navigation ul ul ul li a:link,
.mobile-navigation ul ul ul li a:visited {
    padding-left: 35px;
}

@media screen and (max-width: 767px) {

    .mobile-navigation-bar,
    .main-navigation-bar-fixed {
        display: block;
    }

    .main-navigation-bar,
    .main-navigation-bar-fixed {
        display: none;
    }

}
